<p *ngIf="isUserAuthenticated()"><a class="logout" (click)="logOut()">Logout</a></p>

<table mat-table [dataSource]="productData" matSort>
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
    <td mat-cell *matCellDef="let element"> {{ element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
    <td mat-cell *matCellDef="let element"> {{ element.price | currency }} </td>
  </ng-container>

  <ng-container matColumnDef="purchase">
    <th mat-header-cell *matHeaderCellDef> Purchase </th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button color="warn" (click)="purchaseProduct(element.id)">
        <mat-icon>add_shopping_cart</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="productDisplayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: productDisplayedColumns;"></tr>
</table>

<table mat-table [dataSource]="purchaseData" matSort>
  <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
    <td mat-cell *matCellDef="let element"> {{ element.price | currency }} </td>
  </ng-container>

  <ng-container matColumnDef="purchaseDate">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Purchase Date </th>
    <td mat-cell *matCellDef="let element"> {{ element.purchaseDate | date : 'short' }} </td>
  </ng-container>

  <ng-container matColumnDef="cancelled">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Cancelled </th>
    <td mat-cell *matCellDef="let element"> {{ element.cancelled }} </td>
  </ng-container>

  <ng-container matColumnDef="cancelledDate">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Cancelled Date </th>
    <td mat-cell *matCellDef="let element"> {{ element.cancelledDate | date : 'short' }} </td>
  </ng-container>

  <ng-container matColumnDef="cancel">
    <th mat-header-cell *matHeaderCellDef> Cancel </th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button color="warn" *ngIf="!element.cancelled" (click)="cancelPurchase(element.id)">
        <mat-icon>cancel</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="purchaseDisplayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: purchaseDisplayedColumns;"></tr>
</table>
